<div class="footBox">
    <div class="foot">
        <div class="BasicInfo">
            <div class="url">
                <p>友情链接</p>
                <ul>
                    <li><a href="javascript:;">贵州结题证书查询系统</a></li>
                    <li><a href="javascript:;">教研论文评选查询系统</a></li>
                    <li class="endLi"><a href="javascript:;">教育资源</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <a href="http://bszs.conac.cn/sitename?method=show&id=08D3F0BD79A63FEFE053022819AC966D" target="_blank">
            <img src="../../../assets/image/Bitmap.png" class="bottomLogo" />
        </a>
        <div class="charge">
            <p>主管：贵州省教育厅</p>
            <p>主办：贵州省教育科学院</p>
            <p>电话：0851-86785085&nbsp;&nbsp;&nbsp;QQ:370938103</p>
            <p>地址：贵州省贵阳市观山湖区金朱东路162号贵州省教育科学院&nbsp;&nbsp;&nbsp;邮编：550081</p>
        </div>
        <div class="clear"></div>
        <p class="copyright">版权所有：贵州省教育科学院    所有内容未经授权不得转载或作其他使用</p>
    </div>
</div>


<!--
<div id="piao" style="z-index: 99999;" (mouseover)="clearTimer()" (mouseout)="startTimer()">
    <a href="javascript:;">
        <img src="../../../assets/image/teacher.png">
    </a>
    <span onclick="document.getElementById('piao').style.display='none';" style="position:absolute; cursor:pointer;">关闭</span>
</div>-->
