<div class="banner_box">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../assets/image/banner1.png" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/image/banner2.png" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/image/banner3.png" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/image/banner4.png" />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <img src="../../assets/image/logo.png" class="logo" />
</div>