

<div class = "info">
    <div class = "title">
        <div class = "left">{{moduleTitle}}</div>
        <!--<div class = "more">更多></div>-->
        <div class = "clear"></div>
    </div>
    <ul>
        <li class = "Thisyear" *ngFor="let item of ywModuleContent"
            (click)="listDetails(item.contentId)">
            <span class = "text"><i>·</i>{{item.title}}</span>
            <span class = "time">{{item.releaseDate | date : 'yy-MM-dd'}}</span>
            <div class = "clear"></div>
        </li>
        <li *ngIf="hasContentShow">{{noContent}}</li>
    </ul>
</div>