<ul class="img_link">
   <li>
       <a href = "http://www.gov.cn/zhuanti/19thcpc/index.htm">
           <img src="../../../assets/image/Nineteen.png" />
       </a>
   </li>
   <li>
       <a href = "http://www.moe.gov.cn/jyb_xwfb/xw_zt/moe_357/jyzt_2017nztzl/2017_zt13/">
           <img src="../../../assets/image/one.png" />
       </a>
   </li>
   <li>
       <a href = "http://www.gzsjyt.gov.cn/">
           <img src="../../../assets/image/teacher.png" />
       </a>
   </li>
   <li>
       <a href = "http://www.gzdyjyw.com/">
           <img src="../../../assets/image/gzjy.png" />
       </a>
   </li>
   <li>
       <a [routerLink]="['/deanMailbox']">
           <img src="../../../assets/image/mailbox.png" />
       </a>
   </li>
</ul>