<div class="old_box">
    <app-trend-carousel></app-trend-carousel>

    <div class="main">
        <div class="left">
            <div class="mTop">
                <app-manage-info></app-manage-info>
                <app-party-person></app-party-person>
                <app-education></app-education>
                <app-online-do></app-online-do>
            </div>
        </div>
        <div class="right">
            <app-img-link></app-img-link>
            <app-belonghome></app-belonghome>
        </div>
        <div class="clear"></div>
        <app-recommen-photo></app-recommen-photo>
    </div>

</div>












